.SectionContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 40px;
}


    

.metode{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 100px;
    margin-left: 35px;
    height: 500px;
    
}

.Teks{
    background-color: #EAEDE7;
   width:  250px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgb(144, 142, 142);
}

.Teks h4{
    margin-top: 20px;
    margin-left: 4px;
}
.virtualAccount h6{
    padding: 10px;
    background-color: #DBDBDB;
    
}


.CheckboxBank{
    background-color: white;
    width:  400px;
     border-radius: 5px;
     box-shadow: 1px 1px 6px rgb(144, 142, 142);
     margin-right: 40px;

}

.CheckboxBank h4{
    text-align: start;
    margin-left: 15px;
    margin-top: 20px;

}

.CheckboxBank form{
    margin-left: 15px;
    display: grid;
    margin-top: 8px;
    row-gap: 40px;
}


.formDetailPesanan{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgb(144, 142, 142);
    width: 600px;
    height: 500px;
    margin-left: 7px;
}

.formMerkMobil h2{
    text-align: center;
    position: relative;
    top: 20px;
}

.FormPesanan{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 550px;
    margin-left: 30px;
    margin-top: 40px;

}

.FormPesanan .dataHarga{
    margin-top: -20px;
}

hr{
    width: 530px;
    position: relative;
    left: 30px;
}

.FormPesanan .kursi , .koper , .pengemudi , .asuransi{
    display: flex;
    gap: 10px;
    text-align: center;
}

.dataInteriorMobil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -50px;
}

.hargaSewa{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
}

.ButtonMetodePembayaran{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 30px;
    margin-top: 20px;
}

.ButtonMetodePembayaran .btn{
    width: 205px;
    height: 35px;
}



