:root {
  --primary-color: #dceeed;
}

/* HomePage */

.HeroSection {
  background-image: url(/assets/img/GambarHome.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.HeroSection h1 {
  color: white;
  position: relative;
}

.HeroSection h5 {
  color: white;
  position: relative;
}

/* .HeroSection .ButtonPesan {
} */

.HeroSection .ButtonPesan Button {
  border-radius: 10px;
}

.sectionHimbauan {
  margin-top: 60px;
}

.sectionHimbauan h2 {
  margin-top: 50px;
  text-align: center;
}

.sectionHimbauan .gambarHimbauan {
  display: flex;
  justify-content: center;
  gap: 97px;
  margin-top: 48px;
}

.sectionWisata .textWisata{
  margin-left: 100px;
}


/* END HOMEPAGE */

/* CARD SLIDER */

.deskripsi-cardSlider {
  position: relative;
  top: -5px;
  left: -20px
  ;
}
