/*--------------------------------------------------------------
#Inf Aun
--------------------------------------------------------------*/

.info-akun-hero{
    background-color:#FFFFFF ;
    height: 150px;
    display: flex;
   gap: 600px;
   margin-top: 120px;
  
   align-items: center;
    
}
.info-akun-hero .column1{
    display: flex;
    gap: 50px;
    margin-left: 50px;
    
}

.info-akun-hero .column1 .photo img{
    width: 80px;
}
.info-akun-hero .column2{
    display: flex;
    gap: 50px;
 
}

.info-akun-hero .column2 .buttonEdit{
   
    width: 120px;
    background-color: #FF8A00;
    border-radius: 20px;
    height: 40px;
    color: white;
    border: none;
  
}

.info-akun-hero .column2 .buttonKeluar{
   
    width: 120px;
    background-color: #FFFFFF;
    border-color: #FF8A00;
    border-radius: 20px;
    height: 40px;
  
 }


.info-akun .form label {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 550px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #929191;
  }

  .info-akun .form{
    display: flex;
    gap: 100px;
  }
  