/*--------------------------------------------------------------
# Pembayaran
--------------------------------------------------------------*/
.info-checkout h4 {
  padding-top: 15px;
  font-weight: bold;
}
.info-checkout p {
  font-weight: 500;
  font-size: 20px;
}

.bukti-pembayaran{
  margin-top: -100px;
}
.bukti-pembayaran .upload-area {
  border: 3px dashed #ffffff;
  padding: 40px;
  height: 30vh;
  background-color: #b4b9b9;
}
.bukti-pembayaran .upload-area.drop {
  border-color: #007bff;
}
