/*--------------------------------------------------------------
# Armada
--------------------------------------------------------------*/
.armada .card {
  min-height: 300px;
  padding: 15px;
  width: 360px;
}

.armada .card .card-img-top {
  height: 200px;
  object-fit: cover;
}
